
* {
    box-sizing: border-box;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .font 
  {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
  }

  .header {
    text-transform: uppercase;
    text-align: center;
    padding: 32px;
    background: #49494a;
    color: #fff;
    border-bottom: 4px solid #fd47c6;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px;
  }

  .gallery::after {
    content: "";
    width: 350px;
  }